.kasa__banner {
    @include max-width-auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__logo {
        margin: 2% auto 0 4%;
    }

    &__page {
        margin-top: 2.5%;
        font-size: 24px;
        @include font-weight;
        @include font-family;
        color: $color-primary;
        padding-right: 60px;
        text-decoration: none;
    }

    &__page:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

@media (max-width: $breakpoint-mobile) {
    .kasa__banner {
        &__logo {
            width: 125px;
            height: 37px;
        }

        &__page {
            font-size: 12px;
            padding-right: 10px;
        }
    }
}
