.kasa__about {
    @include max-width-auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__image {
        width: 100%;
        background: #000000;
        mix-blend-mode: darken;
        opacity: 0.3;
        border-radius: 25px;
        margin: 30px 0 40px 0;
    }
}
@media (max-width: $breakpoint-mobile) {
    .kasa__about {
        &__image {
            height: 200px;
            object-fit: cover;
        }
    }
}
