.kasa__banner {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.kasa__banner__logo {
  margin: 2% auto 0 4%;
}
.kasa__banner__page {
  margin-top: 2.5%;
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", "Trebuchet MS", sans-serif;
  color: #ff6060;
  padding-right: 60px;
  text-decoration: none;
}
.kasa__banner__page:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .kasa__banner__logo {
    width: 125px;
    height: 37px;
  }
  .kasa__banner__page {
    font-size: 12px;
    padding-right: 10px;
  }
}
.kasa__footer {
  margin: -10px;
  background: #000000;
}
.kasa__footer__bloc {
  margin-top: 40px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kasa__footer__logo {
  margin: 55px 0 20px 0;
}
.kasa__footer__info {
  font-family: "Montserrat", "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}
.kasa__footer__copyright {
  width: 17px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .kasa__footer__bloc {
    margin-top: 0;
    padding-bottom: 40px;
  }
  .kasa__footer__logo {
    margin: 45px 0 5px 0;
  }
  .kasa__footer__info {
    font-size: 12px;
  }
  .kasa__footer__copyright {
    width: 10px;
  }
}
.kasa__card {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px 0;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 60px 0;
}
.kasa__card__link {
  text-decoration: none;
}
.kasa__card__bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 85%;
  height: 360px;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.kasa__card__cover {
  width: 100%;
  height: 110%;
  border-radius: 10px 10px 0 0;
}
.kasa__card__title {
  font-family: "Montserrat", "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: #ffffff;
  padding-left: 15px;
}

@media (max-width: 990px) {
  .kasa__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .kasa__card {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    gap: 20px 0;
    padding-top: 10px;
  }
  .kasa__card__bloc {
    width: 100%;
  }
  .kasa__card__cover {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
.kasa__collapse {
  max-width: 1150px;
  margin: 0 auto;
  padding-bottom: 35px;
  border-radius: 5px;
  width: 100%;
}
.kasa__collapse__header {
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
  display: inline-flex;
  height: 25%;
  min-height: 50px;
  width: 100%;
}
.kasa__collapse__title {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 30px;
  margin: 5px 20px;
  font-family: "Montserrat", "Trebuchet MS", sans-serif;
}
.kasa__collapse__fleche {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  width: 100%;
}
.kasa__collapse__fleche:hover {
  cursor: pointer;
}
.kasa__collapse__fleche.true {
  justify-content: start;
  transform: rotate(-180deg);
}
.kasa__collapse__description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 24px;
  font-weight: 400;
  font-family: "Montserrat", "Trebuchet MS", sans-serif;
  background-color: #f7f7f7;
  border-radius: 5px;
  color: #ff6060;
  height: 75%;
  min-height: 100px;
  margin-top: -10px;
  padding: 25px 10px 10px 20px;
  line-height: 32.5px;
}

@media (max-width: 768px) {
  .kasa__collapse {
    margin-bottom: -10px;
  }
  .kasa__collapse__header {
    min-height: 12px;
  }
  .kasa__collapse__title {
    font-size: 13px;
  }
  .kasa__collapse__fleche {
    height: 10px;
  }
  .kasa__collapse__description {
    font-size: 12px;
    align-items: flex-start;
    line-height: 20px;
  }
}
.kasa__defilement {
  display: block;
  height: 415px;
  position: relative;
  width: 100%;
}
.kasa__defilement__fleche {
  position: absolute;
  width: 45px;
  color: #ffffff;
}
.kasa__defilement__fleche:hover {
  cursor: pointer;
  filter: drop-shadow(2px 4px 6px rgb(68, 67, 67));
}
.kasa__defilement__fleche__left {
  margin-left: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}
.kasa__defilement__fleche__right {
  margin-right: 15px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(265deg);
}
.kasa__defilement__img {
  margin-top: 20px;
  border-radius: 25px;
  height: 415px;
  object-fit: cover;
  display: none;
  width: 100%;
}
.kasa__defilement__img.actif {
  display: block;
}

@media (max-width: 768px) {
  .kasa__defilement {
    height: 255px;
  }
  .kasa__defilement__fleche {
    width: 25px;
  }
  .kasa__defilement__img {
    height: 255px;
  }
}
.kasa__tag {
  font-family: "Montserrat", "Trebuchet MS", sans-serif;
  background-color: #ff6060;
  border-radius: 10px;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 10px 0 0;
  min-width: 115px;
  padding: 5px 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .kasa__tag {
    min-width: 84px;
    border-radius: 5px;
    font-size: 10px;
    margin-bottom: 10px;
  }
}
.kasa__home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px 0 100px 0;
  opacity: 1 !important;
}
.kasa__home__image {
  width: 100%;
  border-radius: 25px;
  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.9;
  border: 2px solid rgb(243, 241, 241);
}
.kasa__home__text {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #ffffff;
  font-family: "Montserrat", "Trebuchet MS", sans-serif;
  margin: 0 40px;
}

@media (max-width: 768px) {
  .kasa__home {
    padding: 10px 0 10px 0;
  }
  .kasa__home__image {
    width: 100%;
    height: 130px;
    object-fit: cover;
  }
  .kasa__home__text {
    font-size: 24px;
  }
}
.kasa__about {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.kasa__about__image {
  width: 100%;
  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.3;
  border-radius: 25px;
  margin: 30px 0 40px 0;
}

@media (max-width: 768px) {
  .kasa__about__image {
    height: 200px;
    object-fit: cover;
  }
}
.kasa__error {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", "Trebuchet MS", sans-serif;
  color: #ff6060;
}
.kasa__error__number {
  margin: 200px 0 40px 0;
}
.kasa__error__text {
  text-align: center;
  line-height: 25px;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
}
.kasa__error__link {
  margin: 100px 0;
  font-family: "Montserrat", "Trebuchet MS", sans-serif;
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.kasa__error__link:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .kasa__error__number {
    width: 150px;
    margin-bottom: 10px;
  }
  .kasa__error__text {
    font-size: 18px;
  }
  .kasa__error__link {
    font-size: 14px;
  }
}
.kasa__housing {
  max-width: 1500px;
  margin: 0 auto;
  color: #ff6060;
  font-family: "Montserrat", "Trebuchet MS", sans-serif;
}
.kasa__housing__bloc {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.kasa__housing__news {
  margin: 0 auto 0 0;
}
.kasa__housing__title {
  font-size: 36px;
  font-weight: 500;
  margin: 20px 0 -5px 0;
}
.kasa__housing__location {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.kasa__housing__little__bloc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.kasa__housing__name {
  padding-right: 15px;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  width: 80px;
}
.kasa__housing__image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.kasa__housing__note {
  padding-top: 15px;
  padding-left: 30px;
  width: 200px;
}
.kasa__housing__collapse {
  display: inline-flex;
  width: 100%;
  margin: 20px 0;
  gap: 0 75px;
  list-style: none;
}

.kasa__star {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .kasa__housing__bloc {
    margin-bottom: 20px;
    flex-direction: column;
  }
  .kasa__housing__title {
    font-size: 18px;
  }
  .kasa__housing__location {
    font-size: 14px;
  }
  .kasa__housing__info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
  }
  .kasa__housing__name {
    font-size: 12px;
    width: 50px;
  }
  .kasa__housing__image {
    width: 32px;
    height: 32px;
  }
  .kasa__housing__note {
    padding-top: 0;
    padding-left: 0;
    margin: 0 auto 0 0;
  }
  .kasa__housing__collapse {
    flex-direction: column;
  }
  .kasa__star {
    width: 15px;
    height: 15px;
    padding-left: 0;
    padding-right: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
