.kasa__defilement {
    display: block;
    height: 415px;
    position: relative;
    width: 100%;

    &__fleche {
        position: absolute;
        width: 45px;
        color: $color-secondary;
    }
    &__fleche:hover {
        cursor: pointer;
        filter: drop-shadow(2px 4px 6px rgb(68, 67, 67));
    }

    &__fleche__left {
        margin-left: 15px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
    }
    &__fleche__right {
        margin-right: 15px;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(265deg);
    }

    &__img {
        margin-top: 20px;
        border-radius: 25px;
        height: 415px;
        @include object-cover;
        display: none;
        width: 100%;
    }
    &__img.actif {
        display: block;
    }
}

@media (max-width: $breakpoint-mobile) {
    .kasa__defilement {
        height: 255px;
        &__fleche {
            width: 25px;
        }

        &__img {
            height: 255px;
        }
    }
}
