.kasa__card {
    @include max-width-auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px 0;
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 60px 0;

    &__link {
        text-decoration: none;
    }

    &__bloc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 85%;
        height: 360px;
        border-radius: 10px;
        cursor: pointer;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 0.5) 100%
        );
    }
    &__cover {
        width: 100%;
        height: 110%;
        border-radius: 10px 10px 0 0;
    }

    &__title {
        @include font-family;
        font-size: 18px;
        color: $color-secondary;
        padding-left: 15px;
    }
}

@media (max-width: 990px) {
    .kasa__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: $breakpoint-mobile) {
    .kasa__card {
        display: flex;
        flex-direction: column;
        background-color: inherit;
        gap: 20px 0;
        padding-top: 10px;

        &__bloc {
            width: 100%;
        }
        &__cover {
            width: 100%;
            height: 300px;
            @include object-cover;
        }
    }
}
